@{
    ViewData["Title"] = "About Us";
}
<!--Privacy Policy area start-->
<div class="privacy_policy_main_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="privacy_content section_1">
                    <div><vc:logo></vc:logo></div>
                </div>
                <div class="privacy_content section_2">
                    <h2>Example</h2>
                   <p></p>
                </div> 

                <div>
                    <div class="privacy_content section_3">
                        <h2>Using Example</h2>
                       <p></p>
                    </div>
                    </div>
                </div>
        </div>
    </div>
</div>


<!--Privacy Policy area end-->
