
@{
    ViewData["Title"] = "ActivationEmail";
    if (!System.Diagnostics.Debugger.IsAttached)
    {
        <meta http-equiv="refresh" content="5; url=https://Example.com" />
    }
}

<div class="error_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="error_form">
                    <span> <i class="fa fa-send fa-4x mb-2"> </i></span>
                    <h3 class="header_middle">Email Activation</h3>
                    <p>We Have sent you verification email<br> Please, Check you email.</p>
                </div>
            </div>
        </div>
    </div>
</div>
