
@{
    ViewData["Title"] = "Error";
}

<div class="error_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="error_form">
                    <h1 class="text-danger">404</h1>
                    <h2 class="text-danger">An error occurred while processing your request.</h2>
                </div>
            </div>
        </div>
    </div>
</div>
