

@model ForgetPasswordViewModel
@{
    ViewData["Title"] = "ForgetYourPassword";
}

<!-- customer login start -->
<div class="customer_login mt-32">
    <div class="container">
        <div class="row">
            <!--login area start-->
            <div class="col-lg-6 col-md-6">
                <div class="account_form">
                    <h2>Forget Your Password</h2>
                    <form asp-route="ForgetYourPassword"> 
                        <p>
                            <label>Username or email <span>*</span></label>
                            <input type="email" asp-for="Email" autofocus required>
                        </p> 
                        <div class="login_submit"> 
                            <button name="button" value="login" type="submit">Submit</button> 
                        </div> 
                    </form>
                    <partial name="_ValidationSummary" />
                </div> 
            </div>
            <!--login area start-->

        </div>
    </div>
</div>
<!-- customer login end -->
