
@{
    ViewData["Title"] = "IsLockedOut";
    if (!System.Diagnostics.Debugger.IsAttached)
    {
        <meta http-equiv="refresh" content="5; url=https://Example.com" />
    }
}

<div class="error_section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="error_form">
                    <h2 class="text-danger">Your account is Locked Out</h2>
                    <h3 class="text-danger">An error occurred while processing your request.</h3>
                </div>
            </div>
        </div>
    </div>
</div>


