
@{
    ViewData["Title"] = "Reset Password";
}

@model ResetPasswordViewModel
<!-- customer login start -->
<div class="customer_login mt-32">
    <div class="container">
        <div class="row">

            <!--register area start-->
            <div class="col-lg-6 col-md-6">
                <div class="account_form register">
                    <h2>Reset password</h2>
                    <form asp-route="Register">
                        <input type="hidden" asp-for="Code" /> 
                        <p>
                            <label>Email address <span>*</span></label>
                            <input type="email" placeholder="Email" asp-for="Email" autofocus required>
                        </p>
                        <p>
                            <label>Passwords <span>*</span></label>
                            <input type="password" placeholder="Password" asp-for="Password" autocomplete="off" required>
                        </p>
                        <p>
                            <label>Confirm Passwords <span>*</span></label>
                            <input type="password" placeholder="Password" asp-for="ConfirmPassword" autocomplete="off" required>
                        </p>
                        <div class="login_submit">
                            <button type="submit" name="button" value="register">Reset</button>
                        </div>
                    </form>
                    <partial name="_ValidationSummary" />
                </div>
            </div>
            <!--register area end-->
        </div>
    </div>
</div>
<!-- customer login end -->
