@model ecommerce.Dashboard.Models.MvProductSpecification

@{
    var oprationName = Model?.id == 0 ? "Add" : "Update";
    ViewData["Title"] = $"{oprationName} Product Specification";

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container">
    <!-- Outer Row -->
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-6 col-md-6">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">@oprationName Product Specification</h1>
                                </div>
                                <form class="user" asp-action="Save" asp-controller="ProductSpecification" method="post">
                                    <input asp-for="id" type="text" class="form-control form-control-user" aria-describedby="id" hidden>
                                    <input asp-for="productId" type="text" class="form-control form-control-user" aria-describedby="productid" hidden>
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <input asp-for="name" type="text" class="form-control form-control-user" aria-describedby="Product  name" placeholder="Product  Name" required>
                                        <span asp-validation-for="name" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <input asp-for="value" type="text" class="form-control form-control-user" aria-describedby="Product  value" placeholder="Product  value" required>
                                        <span asp-validation-for="value" class="text-danger"></span>
                                    </div>
                                    <button class="btn btn-primary btn-user btn-block" type="submit">
                                        @oprationName  <i class="fas fa-chevron-circle-right fa-lg text-white-50"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
