@model IEnumerable<ecommerce.Data.OrderComplaint>
    @{
        ViewData["Title"] = "Order Complaint";
    }

    <link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />

    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <partial name="_StatusMessage" model='TempData.Peek("StatusMessage")' />
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Order Complaint</h1>
            <a asp-controller="OrderComplaint" asp-action="Save" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">
                <i class="fas fa-plus-circle fa-sm text-white-50"></i> Add Order Complaint
            </a>
        </div>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Order Complaint List</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered text-center" id="indexTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Reason</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Id</th>
                                <th>Reason</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody class="align-middle">

                            @{
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="align-middle">@item?.id</td>
                                        <td class="align-middle">@item?.reason</td>
                                        <td class="align-middle">
                                            <a asp-action="Details" asp-controller="OrderComplaint" asp-route-id="@item?.id" class="btn-success btn-circle btn-md">
                                                <i class="fas fa-info-circle"></i>
                                            </a>
                                            <a asp-action="Edit" asp-controller="OrderComplaint" asp-route-id="@item?.id" class=" btn btn-warning btn-circle btn-md">
                                                <i class="far fa-edit"></i>
                                            </a>
                                            @*<button type="button" data-toggle="modal" data-target="#deleteModal" data-id="@item.id" data-name="@item.country" class="btn btn-danger btn-circle btn-md">
                                                    <i class="fas fa-trash"></i>
                                                </button>*@
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br />
    <!-- Button trigger modal     asp-action="Delete" asp-controller="Category"  asp-route-id="item.id"     -->


    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h4 class="modal-body-content" id="deleteModalLabel"></h4>
                    <form class="user" asp-action="Delete" asp-controller="OrderComplaint" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" id="id" name="id" hidden>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-undo"></i>Close</button>
                            <button type="submit" class="btn btn-danger"><i class="fas fa-trash"></i> Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    @section scripts {
        <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
        <script src="~/vendor/datatables/datatables-page.js"></script>
    }
