@model ecommerce.Data.MVData.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var page = "Password";
}
<!-- my account start  -->
<section class="main_content_area">
    <div class="container">
        <div class="account_dashboard">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3">
                    <!-- Nav tabs -->
                    <partial name="_MyAccountNavtab" model="page" />
                </div>
                <div class="col-sm-12 col-md-9 col-lg-9">
                    <!-- Tab panes -->
                    <div class="tab-content dashboard_content">
                        <div id="account-details">
                            <h3>Change Password </h3>
                            <div id="myAccount-msg" class="text-center"></div>
                            <div class="login">
                                <div class="login_form_container">
                                    <div class="account_login_form">
                                        <form asp-action="ChangePassword" asp-controller="Account"
                                              data-ajax="true"
                                              data-ajax-method="POST"
                                              data-ajax-complete="onComplete"
                                              data-ajax-success="onSuccess"
                                              data-ajax-failure="onFailed"
                                              data-ajax-mode="replace"
                                              data-ajax-update="#myAccount-msg"
                                              data-ajax-loading="#spinner-MyAccount">
                                            <label>Current Password</label>
                                            <input type="password" id="CurrentPassword" name="CurrentPassword" placeholder="Current Password" required>
                                            <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                                            <label>New Password</label>
                                            <input type="password" id="NewPassword" name="NewPassword" placeholder="New Password" required>
                                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                                            <label>Confirm Password</label>
                                            <input type="password" id="ConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" required>
                                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                            <div class="save_button primary_btn default_button">
                                                <button type="submit">
                                                    Change
                                                    <span id="spinner-MyAccount" style="display:none;">
                                                        <i class="fa fa-spinner fa-spin yellow"></i>
                                                    </span>
                                                </button>
                                            </div>
                                        </form>
                                        <partial name="_ValidationSummary" />

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- my account end   -->



<script type="text/javascript">

    var onComplete = function () {
        
    };
    var onSuccess = function (context) {
         
    }
    var onFailed = function (context) {
        alert("Failed submitting.");
    };
</script>