@model IEnumerable<ecommerce.Data.Order>
@{
    ViewData["Title"] = "Deleted Orders";
}

<link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <partial name="_StatusMessage" model='TempData.Peek("StatusMessage")' />
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Deleted Orders</h1>
    </div>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Deleted Orders</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-center" id="indexTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Date</th>
                            <th>Total</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Total</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody class="align-middle">

                        @{
                            foreach (var item in Model.OrderByDescending(x => x.updateDate))
                            {
                                <tr>
                                    <td class="align-middle">@item?.id</td>
                                    <td class="align-middle">@item?.createDate</td>
                                    <td class="align-middle">@item?.total</td>
                                    <td class="align-middle">
                                        <a asp-action="GetOrder" asp-controller="Order" asp-route-id="@item?.id" class="btn-success btn-circle btn-md">
                                            <i class="fas fa-info-circle"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<br />
<!-- Button trigger modal     asp-action="Delete" asp-controller="Category"  asp-route-id="item.id"     -->

@section scripts {
    <script src="~/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/vendor/datatables/datatables-page.js"></script>
}