<section class="call_to_action">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="call_action_inner">
                    <div class="call_text">
                        <h3><span>WE'RE SOCIAL</span></h3>
                        <p>Follow us on your favorite social media site</p>
                    </div>
                    @*<div class="discover_now">
                        <a href="#">discover now</a>
                    </div>*@
                    <div class="link_follow">
                        <ul>
                           <vc:social-media></vc:social-media>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>