 
 <!--shipping area start-->
<section class="shipping_area mb-50">
    <div class="container">
        <div class=" row">
            <div class="col-12">
                <div class="shipping_inner">
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <i class="fa fa-truck fa-3x yellow" ></i>                             
                        </div>
                        <div class="shipping_content">
                            <h2>Fast Shipping</h2>
                            <p>Get your order less than 3 days</p>
                        </div>
                    </div>
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <i class="fa fa-headphones fa-3x yellow"></i>
                        </div>
                        <div class="shipping_content">
                            <h2>Support 24/7</h2>
                            <p>Contact us 24 hours a day</p>
                        </div>
                    </div>
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <i class="fa fa-money fa-3x yellow"></i>
                        </div>
                        <div class="shipping_content">
                            <h2>100% Money Back</h2>
                            <p>You have 30 days to Return</p>
                        </div>
                    </div>
                    <div class="single_shipping">
                        <div class="shipping_icone">
                            <i class="fa fa-cc-visa fa-3x yellow"></i>
                        </div>
                        <div class="shipping_content">
                            <h2>Payment Secure</h2>
                            <p>We ensure secure payment</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--shipping area end-->